Work on the following reported bugs or issues 


2. Change of state 
- The simulation should continously loop instead of pausing after one cycle . 
- when it temperature reaches 100 degrees celcius , it should start to cool down and turn back into water and then ice 
- the text that appears , appears very fast and quickly disappears again . it should stay for a few seconds and then disappear so that readers can take time to read the text
- the text should not be in the same container as the simulation but create a text container above the text container "Watch ice melt into water and evaporate into steam! Temperature: x:
